<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>산후조리원 실시간 영상보기</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.1/jsmpg.js"></script>

</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>스트리밍 시작</h1>
        <p class="btn btn-primary btn-lg" onclick="onStreaming()";>스트리밍 시작</p>
        <canvas></canvas>
    </div>
    <div class="container">
      <h1>웹소켓 해제</h1>
      <p class="btn btn-primary btn-lg" onclick="onCLose()";>웹소켓 해제</p>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
</body>

</html>
<script> 

var webSocket;  
  
async function onStreaming(){
  const result = await fetch('/start');
  var res = await result.json();
  console.log(res.result);
  if(res.error != '0'){
    alert(res.errorMsg);
    return;
  } else {
    webSocket = new WebSocket('ws://localhost:9999');
     
    // 2. 웹소켓 이벤트 처리 // 2-1) 연결 이벤트 처리 
    webSocket.onopen = ()=>{ 
      console.log("웹소켓서버와 연결 성공"); 
      setTimeout(() => {
        webSocket = new WebSocket('ws://localhost:9999');
        var canvas = document.querySelector('canvas');
        var player = new jsmpeg(webSocket, {
          canvas: canvas
        });
      }, 3000); 
    }; 
    // 2-2) 메세지 수신 이벤트 처리 
    webSocket.onmessage = function (event) { 
      // console.log(`받은 데이터:${event.data}`); 
    } 
    // 2-3) 연결 종료 이벤트 처리 
    webSocket.onclose = function(){
      console.log("서버 웹소켓 연결 종료"); 
    } 
    // 2-4) 에러 발생 이벤트 처리 
    webSocket.onerror = function(event){ 
      console.log(event) 
    } 
  }
}

function onCLose(){
  if(webSocket.readyState === webSocket.OPEN){ 
    // 연결 상태 확인 
    webSocket.close(); 
    // 연결 종료 
  } else { 
    alert("연결된 웹소켓 서버가 없습니다."); 
  } 
}

</script>
